@charset "utf-8";
/* CSS Document */
@media (max-width: 599px)
{
	.main
	{
		width:100%;
	}
	.main_menu
	{
		display:none;
	}
	.top
	{
		display:none;
	}
	.content_right
	{
		width:100%;
	}
	.content_left
	{
		width:100%;
		float:none;
	    margin-right: 0px;
		margin-bottom:20px;
	}
	.content
	{
		width:100%;
	}
	.sort_view select
	{
		width:100px;
	}
	.sort_view
	{
		padding-left:10px;
	}
	.title
	{
		padding-left:10px;
	}
	.pic
	{
		width:40%;
	}
	.pic_img
	{
		width:100%;
		height:auto;
	}
	.button2
	{
		margin-left:10px;
	}
	.button1
	{
		margin-left:0px;
		margin-right:0px;
	}
	#owl-demo .item
	{
		width:60%;
		text-align:center;
	}
	.owl-item
	{
		text-align:center;
	}
	.login
	{
		width: 60%;
		margin: auto;
		text-align: left;
	}
	.inp
	{
		width: 84%;
	}
	.box input
	{
		width:95%;
	}
	.content_left .images
	{
		width:60%;
	}
	.footer1
	{
		display:none;
	}
	.logo
	{
		width:200px;	
		vertical-align: top;
		margin-top: 5px!important;
		margin-bottom: 5px!important;
		margin: auto;
	}
	.header .content
	{
		text-align:center;
	}
	.ism-button
	{
		width:30px;
		height:30px;
	}
	.ism-slide a
	{
		display:none;
	}
	.box select 
	{
    	width: 85%;
	}
}
@media (max-width: 375px)
{
	.buts .sort
	{
		display:none;
	}
	.buts .show
	{
		display:none;
	}
	.buts
	{
		text-align:center;
	}
	.pic
	{
		width:35%;
	}
	.sort_view select 
	{
    	width: 90px;
	}
	.button2
	{
		margin-left:0px;
	}
	.inp
	{
		width:80%;
	}
	.adverlisting
	{
		font-size:12px;
	}
}
@media (max-width: 375px)
{
	.sort_view select 
	{
		width: 70px;
	}
	{
		font-size:10px;
	}
	.inp 
	{
    	width: 70%;
	}
	.copyright
	{
		font-size:12px;
	}
	.adverlisting
	{
		font-size:10px;
	}
}